@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v13-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v13-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v13-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v13-latin-700.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.site-header {
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.3019607843);
  position: fixed;
  width: 100%;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: 100;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-link {
  display: inline-block;
}

.header__links-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navbar__link {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0%;
  text-transform: uppercase;
  transition: color 0.3s linear;
}

.navbar__link:hover {
  color: #FF7D44;
}

.navbar__link:active {
  color: #FF7D44;
  opacity: 0.5;
}

.header__phone-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__phone-number {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  transition: all 0.3s linear;
}

.header__phone-number:hover {
  color: #FF7D44;
}

.header__phone-number:active {
  color: #FF7D44;
  opacity: 0.5;
}

.hero-section {
  height: 120vh;
  padding: 180px 0 93px;
  background-image: url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center bottom;
  background-attachment: fixed;
}

.hero {
  display: flex;
  justify-content: space-between;
  gap: 85px;
}

.hero__form {
  width: 449px;
  padding: 25px 20px;
  border-radius: 10px;
  background-color: rgba(58, 58, 58, 0.5019607843);
}

.hero__form-subtitle {
  margin-bottom: 8px;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
}

.hero__form-subtext {
  margin-bottom: 20px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
}

.hero__form-title {
  display: flex;
  margin-top: 15px;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
}

.form__input {
  display: inline-block;
  width: 192px;
  padding: 15px 0;
  margin-left: 5px;
  margin-top: 8px;
  background-color: #FFFFFF;
  border-radius: 10px;
  gap: 30px;
}

.hero__form-input {
  width: 399px;
  height: 56px;
  margin-top: 12px;
  padding: 18px 5px 18px 47px;
  border-radius: 12px;
  border: 1px solid #FF7D44;
  background-color: #FFFFFF;
  border: none;
  outline: none;
  background-image: url(../../images/location.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 15px center;
}

.form__label:nth-last-child(2) > .hero__form-input {
  background-image: url(../../images/calendar_line\ 1.svg);
}

.hero__form-input:focus {
  box-shadow: 0 0 5px 0 #FF7D44;
}

.hero__form-radio {
  width: 26px;
  height: 26px;
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.form__hr {
  margin: 24px 0 20px;
}

.hero__submit-btn {
  width: 399px;
  height: 56px;
  display: block;
  padding: 10px 0;
  margin: 0 auto;
  border-radius: 8px;
  background: #FF7D44;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;
}

.hero__submit-btn:hover {
  color: #FF7D44;
  background-color: transparent;
  box-shadow: 0 0 2px 2px #FF7D44;
}

.hero__content-wrapper {
  width: 576px;
  display: flex;
  flex-direction: column;
  margin-top: 43px;
}

.hero__subtitle {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
}

.hero__title {
  margin-top: 11px;
  margin-bottom: 20px;
  color: #FFFFFF;
  font-size: 56px;
  font-weight: 700;
  line-height: 67.77px;
}

.hero__text {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
}

.service-section {
  padding: 113px 0 173px;
  background-image: url(../../images/service-bg.png), url(../../images/service-bg2.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

.service__title-wrapper {
  text-align: center;
  margin-bottom: 100px;
}

.service__title {
  margin-bottom: 8px;
  font-size: 38px;
  font-weight: 700;
  line-height: 45.99px;
  color: black;
}

.service__text {
  color: rgba(0, 0, 0, 0.6784313725);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.service__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.service__item {
  position: relative;
  width: 354px;
  height: 458px;
  cursor: pointer;
  overflow: hidden;
  z-index: 50;
  --tw-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -2px rgba(0,0,0,.1);
  background: rgb(183, 183, 183);
}
.service__item:hover > .service__img {
  height: 50%;
}
.service__item:hover > .service__hide-content {
  bottom: 0;
}
.service__item:hover > .service__view-content {
  bottom: -100%;
}

.service__img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 4;
  transition: all 0.3s ease-out;
}

.service__view-content {
  padding: 24px 20px 20px;
  position: absolute;
  z-index: 5;
  bottom: 0;
}

.service__subtitle {
  color: white;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
}

.service__item-link {
  color: white;
  font-size: 15px;
  font-weight: 500;
  line-height: 18.15px;
  display: flex;
  align-items: center;
  gap: 6.5px;
}

.service__hide-content {
  position: absolute;
  transition: all 0.3s ease-out;
  bottom: -100%;
  height: 50%;
  padding: 20px;
  background-color: white;
  z-index: 5;
}
.service__hide-content > h3 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  color: black;
}
.service__hide-content > p {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: black;
}

.service__hide-link {
  color: #FF7D44;
}

.pro-section {
  padding: 65px 0;
  background-image: url(../../images/pro-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.pro {
  display: flex;
  align-items: center;
  gap: 115px;
}

.pro__content-wrapper {
  width: 347px;
}

.pro__title {
  margin-bottom: 20px;
  color: white;
  font-size: 38px;
  font-weight: 600;
  line-height: 40px;
}

.pro__text {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
}

.pro__list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 54.67px;
  text-align: center;
}

.count__title {
  padding: 15px;
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 600;
  line-height: 61px;
  letter-spacing: 0%;
}

.count__text {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
}

.about-section {
  padding: 100px 0 96px;
}

.about {
  display: flex;
  align-items: center;
  gap: 25px;
}

.about__content-wrapper {
  width: 543px;
  display: flex;
  flex-direction: column;
}

.about__title {
  margin-bottom: 16px;
  font-size: 38px;
  font-weight: 700;
  line-height: 45.99px;
  color: black;
}

.about__subtitle {
  color: #FF7D44;
  margin-bottom: 16px;
  font-size: 38px;
  font-weight: 700;
  line-height: 45.99px;
}

.about__text {
  margin-bottom: 50px;
  color: rgba(0, 0, 0, 0.68);
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0%;
}

.about__bg {
  margin-bottom: 50px;
}/*# sourceMappingURL=main.css.map */