
.about-section {
    padding: 100px 0 96px;
}
.about {
    @include  dislpay($DF: flex, $AI: center, $JC: start, $GAP: 25px);
}
.about__content-wrapper {
    width: 543px;
    display: flex;
    flex-direction: column;
}
.about__title {
    @include textStyle($MB: 16px, $FS: 38px, $FW: 700, $CLR: black, $LH: 46px, $CASE: none);
}
.about__subtitle {
    @include textStyle($MB: 16px, $FS: 38px, $FW: 700, $CLR: black, $LH: 46px, $CASE: none);
}
.about__text {
    @include textStyle($MB: 50px, $FS: 16px, $FW: 300, $CLR: rgba(0, 0, 0, 0.68), $LH: 24px, $CASE: none);
}
.about__bg{
    margin-bottom: 50px;
}