
.about-section {
    padding: 100px 0 96px;
}
.about {
    display: flex;
    align-items: center;
    gap: 25px;
}
.about__content-wrapper {
    width: 543px;
    display: flex;
    flex-direction: column;
}
.about__title {
    margin-bottom: 16px;
font-size: 38px;
font-weight: 700;
line-height: 45.99px;
color: black;
}
.about__subtitle {
    color: $orange-clr;
    margin-bottom: 16px;
    font-size: 38px;
    font-weight: 700;
    line-height: 45.99px;
}
.about__text {
    margin-bottom: 50px;
    color: rgba(0, 0, 0, 0.68);
font-size: 16px;
font-weight: 300;
line-height: 24px;
letter-spacing: 0%;
}
.about__bg{
    margin-bottom: 50px;
}