.site-header {
    padding: 20px 0;
    background-color: #0000004D;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(20px);
    z-index: 100;
}
.header {
    @include dislpay($DF: flex, $AI: center, $JC: space-between, $GAP: 0px);
}
.header__logo-link {
    display: inline-block;
}
.header__links-wrapper{
    @include dislpay($DF: flex, $AI: center, $JC: space-between, $GAP: 50px);
}
.header__list{
    @include dislpay($DF: flex, $AI: center, $JC: start, $GAP: 25px);
}
.navbar__link {
    @include textStyle($MB: 0px, $FS: 16px, $FW: 500, $CLR: $white-clr, $LH: 19px, $CASE: uppercase);
    transition: color 0.3s linear;
}
.navbar__link:hover{
    color: $orange-clr;
}
.navbar__link:active{
    color: $orange-clr;
    opacity: 0.5;
}
.header__phone-link {
    @include dislpay($DF: flex, $AI: center, $JC: start, $GAP: 10px);
}
.header__phone-number {
    @include textStyle($MB: 0px, $FS: 16px, $FW: 500, $CLR: $white-clr, $LH: 19.36px, $CASE: uppercase);
    transition: all 0.3s linear;
}
.header__phone-number:hover{
    color: $orange-clr;
}
.header__phone-number:active{
    color: $orange-clr;
    opacity: 0.5;
}