.hero-section{
    height: 120vh;
    padding: 180px 0 93px;
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center bottom;
    background-attachment: fixed;
}
.hero {
    @include dislpay($DF: flex, $AI, $JC: space-between, $GAP: 85px);
}
.hero__form {
    width: 449px;
    padding: 25px 20px;
    border-radius: 10px;
    background-color: #3A3A3A80;
}
.hero__form-subtitle {
    @include textStyle($MB: 8px, $FS: 30px, $FW:700, $CLR: $white-clr, $LH: 36px, $CASE: capitalize);
}
.hero__form-subtext {
    @include textStyle($MB: 20px, $FS: 16px, $FW: 400, $CLR: $white-clr, $LH: 19px, $CASE: capitalize);
}
.hero__form-title {
    @include textStyle($MB: 0, $FS: 15px, $FW: 400, $CLR: $white-clr, $LH: 18px, $CASE: capitalize);
    
    margin-top: 15px;
}
.form__input{
    display: inline-block;
    width: 192px;
    padding: 15px 0;
    margin-left: 5px;
    margin-top: 8px;
    background-color: $white-clr;
    border-radius: 10px;
    gap: 30px;
}
.hero__form-input{
    width: 399px;
    height: 56px;
    margin-top: 12px;
    padding: 18px 5px 18px 47px;
    border-radius: 12px;
    border: 1px solid $orange-clr;
    background-color: $white-clr;
    border: none;
    outline: none;
    background-image: url(../../images/location.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 15px center;
}
.form__label:nth-last-child(2) > .hero__form-input{
    background-image: url(../../images/calendar_line\ 1.svg);
}
.hero__form-input:focus{
    box-shadow: 0 0 5px 0 $orange-clr;
}
.hero__form-radio{
    width: 26px;
    height: 26px;
    margin-left: 15px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.form__hr{
    margin: 24px 0 20px;
}
.hero__submit-btn{
    @include buttonsytle($W:399px, $P: 10px, $BR_RAD: 8px, $BG_CLR: $orange-clr, $CLR: $white-clr, $FS: 17px, $FW: 500, $LH: 21px, $BORDER: 1 px solid $orange-clr);
}
.hero__submit-btn:hover{
    color: $orange-clr;
    background-color: transparent;
    box-shadow: 0 0 2px 2px $orange-clr;
}
.hero__content-wrapper{
    width: 576px;
    display: flex;
    flex-direction: column;
    margin-top: 43px;
}
.hero__subtitle {
  @include  textStyle($MB: 0, $FS: 14px, $FW: 500, $CLR: $white-clr, $LH: 16.94px, $CASE: capitalize);
}
.hero__title {
   @include textStyle($MB: 11px, $FS: 56px, $FW: 700, $CLR: $white-clr, $LH: 67.77px, $CASE: capitalize);
}
.hero__text {
    @include textStyle($MB: 0, $FS: 20px, $FW: 400, $CLR: $white-clr, $LH: 24.2px, $CASE: capitalize);
}