
.pro-section {
    padding: 65px 0;
    background-image: url(../../images/pro-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.pro {
    @include dislpay($DF: flex, $AI: center, $JC: start, $GAP: 115px);
}
.pro__content-wrapper {
    width: 347px;
}
.pro__title {
    @include textStyle($MB: 20px, $FS: 38px, $FW: 600, $CLR: white, $LH: 40px, $CASE: none);
}
.pro__text {
    @include textStyle($MB: 0px, $FS: 16px, $FW: 400, $CLR: white, $LH: 19px, $CASE: none);
}
.pro__list {
    @include dislpay($DF: flex, $AI: center, $JC: start, $GAP: 54.67px);
    text-align: center;
}
.count__title {
    @include textStyle($MB: 0px, $FS: 50px, $FW: 600, $CLR: white, $LH: 61px, $CASE: none);
    padding: 15px;
}
.count__text {
    @include textStyle($MB: 0px, $FS: 16px, $FW: 400, $CLR: white, $LH: 19px, $CASE: none);
}