.shipping__section {
    padding: 75px 0 194px;
    background-image: url(../../images/shippingbg.png), url(../../images/shippingbg2.png);
    background-repeat: no-repeat;
    background-position: right top, left bottom;
}
.shipping {
    @include dislpay($DF: flex, $AI: center, $JC: unset, $GAP: 65px);
    flex-direction: column;
}
.shipping__content-wrapper {
    width: 769px;
    padding-bottom: 15px;
    margin: 0 auto;
    text-align: center;
}
.shipping__title {
    @include textStyle($MB: 15px, $FS: 38px, $FW: 700, $CLR: black, $LH: 46px, $CASE: none);
    letter-spacing: 0%;
}
.shipping__color {
    @include textStyle($MB: 15px, $FS: 38px, $FW: 700, $CLR: $orange-clr, $LH: 46px, $CASE: none);
}
.shipping__text {
    @include textStyle($MB: 0px, $FS: 16px, $FW: 400, $CLR: rgba(0, 0, 0, 0.68), $LH: 24px, $CASE: none);
}
.shipping__information-content {
    @include dislpay($DF: flex, $AI: center, $JC: unset, $GAP: 25px);
}
.shipping__information-content:nth-child(3){
    flex-direction: row-reverse;
}
.shipping__img-wrapper {
    position: relative;
}
.shipping__link {
    @include buttonsytle($W: 151px, $P: 16px, $BR_RAD: 0, $BG_CLR: $orange-clr, $CLR: white, $FS: 16px, $FW: 600, $LH: 19.36px, $BORDER: none);
    position: absolute;
    display: block;
    top: 1.25em;

    &:hover{
        background-color: rgb(165, 61, 16);
    }
}
.information__wrapper{
    width: 545px;
}
.information__title {
    @include textStyle($MB: 15px, $FS: 24px, $FW: 600, $CLR: rgba(0, 0, 0, 0.87), $LH: 29px, $CASE: none);
}
.information__text {
    @include textStyle($MB: 30px, $FS: 16px, $FW: 400, $CLR: rgba(0, 0, 0, 0.68), $LH: 24px, $CASE: none);
}
.information__link {
    @include buttonsytle($W: 259px, $P: 15px, $BR_RAD: 3px, $BG_CLR: transparent, $CLR: black, $FS: 16px, $FW: 500, $LH: 19px, $BORDER:  3px solid rgb(255, 125, 68));
    display: inline-block;
    text-align: center;
    transition: all 0.3s linear;
}
.information__link:hover{
    color: black;
    background-color: rgb(246, 204, 186);
    border-color: rgb(255, 125, 68);
}
.information__link:active{
    opacity: 0.5;
}